body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-large);
}

button {
  cursor: pointer;
}

.slideshow {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 1px black;
}

.slideshow__image-container {
  width: 100%;
  flex-basis: 60%;
}

.slideshow__image {
  width: 100%;
  object-fit: contain;
}

.slideshow__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: var(--spacing-medium);
}

.slideshow__bullets-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow__bulletpoint {
  padding: 0.2rem;
  border-radius: 50%;
  margin: 0.1rem;
}

.slideshow__bulletpoint--active {
  background-color: green;
}

.slideshow__bulletpoint:hover {
  background-color: #c1c1c1;
}

.slideshow__text-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.slideshow__caption {
  padding-bottom: var(--spacing-small);
}

.slideshow__description {
  padding-bottom: var(--spacing-medium);
}

.slideshow__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slideshow__imagecount {
  text-align: center;
}

.slideshow__button {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: var(--font-size-base);
  border: none;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow__button:hover {
  background-color: rgb(186, 0, 0);
}

.button__arrow {
  display: none;
}

@media screen and (max-width: 500px) {
  .slideshow__button {
    width: 50px;
  }
  .button__text {
    display: none;
  }
  .button__arrow {
    display: inline;
  }
}
